<a href="https://colab.research.google.com/github/amilsiddik/percobaan/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df1 = pd.read_csv('/content/drive/MyDrive/Belajar/calonpembeli_ch5.csv')
df1.describe()

,ID,Usia,Status,Kelamin,Memiliki_Mobil,Penghasilan,Beli_Mobil
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000
mean,500.500000,43.532000,1.469000,0.481000,0.95200,270.09000,0.633000
std,288.819436,12.672078,1.073402,0.499889,0.80146,95.23681,0.482228
min,1.000000,24.000000,0.000000,0.000000,0.00000,95.00000,0.000000
25%,250.750000,33.000000,1.000000,0.000000,0.00000,187.00000,0.000000
50%,500.500000,43.000000,1.000000,0.000000,1.00000,258.50000,1.000000
75%,750.250000,53.000000,2.000000,1.000000,2.00000,352.25000,1.000000
max,1000.000000,164.000000,3.000000,1.000000,4.00000,490.00000,1.000000

Bersihkan data (Ada Usia lebih dari 100 tahun)

In [2]:
df1 = df1[df1['Usia']<=100]

cek apakah ada data null??

In [3]:
df1.isnull().sum()

ID                0
Usia              0
Status            0
Kelamin           0
Memiliki_Mobil    0
Penghasilan       0
Beli_Mobil        0
dtype: int64

In [4]:
df1.dropna()

       ID  Usia  Status  Kelamin  Memiliki_Mobil  Penghasilan  Beli_Mobil
0       1    32       1        0               0          240           1
1       2    49       2        1               1          100           0
2       3    52       1        0               2          250           1
3       4    26       2        1               1          130           0
4       5    45       3        0               2          237           1
..    ...   ...     ...      ...             ...          ...         ...
995   996    51       0        1               2          293           1
996   997    61       1        0               2          275           1
997   998    45       1        0               0          406           1
998   999    48       0        1               2          432           1
999  1000    40       3        1               1          380           1

[998 rows x 7 columns]